{% extends 'base.html'%}

{%block title%}{%block content_title%}
Agenda Pastoral
{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Agenda Pastoral</li>
{% endblock %}

{%block content%}

<div ng-controller="ScheduleController">
<div class="pull-left">
    <a id='id_crear_evento' href="{% url 'evento_create' %}" class='btn' title="Añadir nuevo evento" data-toggle="tooltip"><i class="icon-plus"></i></a>
    <a class="btn" ng-click="fechaAnterior()"><</a>
    <a class="btn" ng-click="fechaSiguiente()">></a>
    <a class="btn" ng-click="rango='dia'; getEventosActuales()">Hoy</a>
    <span><i class="icon-calendar"></i> {[{textoCabeceraAgenda}]}</span>

</div>
<div class="pull-right">
    <a class="btn" ng-click="rango='dia'; getEventosActuales()">Diario</a>
    <a class="btn" ng-click="rango='semana'; getEventosActuales()">Semanal</a>
    <a class="btn" ng-click="rango='mes'; getEventosActuales()">Mensual</a>
</div>
<br style="margin-top: 30px"/>
<table id='id_table_agea' class='footable table table-striped' style="margin-top: 60px">

    <thead>
		<tr>
            <th>Fecha</th>
			<th>Hora</th>
			<th>Evento</th>
            <th>Acciones</th>
		</tr>
        <tr ng-if="eventos.length == 0">
                        <td colspan="5">No existen registros disponibles</td>
                    </tr>
		
	</thead>
	<tbody ng-repeat="evento in eventos">

		<tr >
            <td>{[{evento.fecha}]}</td>
			<td>{[{evento.hora | date: "shortTime"}]}</td>
            <td>{[{evento.evento}]}</td>
            <td><a href="/evento/{[{evento.id}]}"><i class='icon-pencil'></i></a></td>
		</tr>


	</tbody>

</table>


</div>
{%endblock%}