<form id='id_form_buscar' class="form-inline" action=".">
    <div class="panel panel-default">
        <div class="panel-heading">Filtros de Búsqueda</div>
        <div class="panel-body">
            <input name="username" type='text' placeholder="Username"  data-toggle="tooltip" title="Filtrar por username" value="{{ username }}"/>
            <select name="action_flag" id="" data-toggle="tooltip" title="Filtrar por transacción">
                <option value="">-- Seleccione --</option>
                <option value="1" selected="{%  if action_flag == 1 %}true{% else %}false{% endif %}">Creación</option>
                <option value="2" selected="{%  if action_flag == 2 %}true{% else %}false{% endif %}">Actualización</option>
                <option value="3" selected="{%  if action_flag == 3 %}true{% else %}false{% endif %}">Dar de baja</option>
            </select>
            <input name="start_date" type='date' placeholder="Fecha Inicial"  data-toggle="tooltip" title="Filtrar por fecha inicial" value="{{ start_date }}" required/>
            <input name="end_date" type='date' placeholder="Fecha Final"  data-toggle="tooltip" title="Filtrar por fecha final" value="{{ end_date }}" required/>
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>

</form>
<!--<a href="/crear/{{modelo}}" class='btn btn-primary'>Nueva Provincia</a>-->