<div class="navbar navbar-inverse nav navbar">
	<div class="navbar-inner">
		<div class="container">
			{% if user.is_authenticated %}
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a  class='brand' href="/home/"><i class="icon-home icon-1x"></i></a>
                <ul class="nav pull-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							{%if user.get_full_name%}{{ user.get_full_name }}{%else%}{{ user.username }}{%endif%}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{%url 'password_change'%}"><i class="icon-key"></i> Cambiar Clave</a></li>
							<li><a href="{%url 'logout'%}"><i class="icon-power-off"></i> Cerrar Sesión</a></li>
						</ul>
					</li>
				</ul>
			<!-- Cuando no está logeado-->
			{%else%}
			<ul class="nav">
				<li><a  class='brand' href="{%url 'index'%}"><i class="icon-home icon-1x"></i></a></li>
				<li class="divider-vertical"></li>
				<li><a href="{%url 'buscar'%}">Buscar</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a href='/login/'>Iniciar Sesión</a></li>
			</ul>
			{%endif%}

		</div>
	</div>
</div>





