{% if user.is_authenticated %}
      {% if menuvar %}
        <div>
            <div ng-controller="menuControl">
             <div class="accordion" id="accordion">
            {% for m in menuvar.menu %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ m.id }}"> <!-- ng-click="aClick($event)" -->
                            {{ m.nombre }}
                            <span class="pull-right"></span>
                            {% comment %}<span class="pull-right"><i class="icon-double-angle-down"></i></span>
                            <span ng-hide="click2" ng-click="click2 = true" class="pull-right"><i class="icon-double-angle-up"></i></span>{% endcomment %}
                        </a>
                    </div>
                    <!-- class="accordion-body collapse in" Se muestran todos los acordeones abiertos-->
                    <!-- class="accordion-body collapse" Se cierran todos los acordeones-->
                    <div id="collapse{{ m.id }}" class="accordion-body collapse in">
                        {% for s in m.submenu %}
                            <div class="accordion-inner">
                                <span class="icon-stack menu-icons">
                                  <i class="{{ s.icon }}"></i>
                                </span>
                               {% comment %} <a href="{{ s.url }}"> {{ s.nombre }}</a>{% endcomment %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        </div></div>

    {% endif %}
{% endif %}