{% if object_list %}

{% if is_paginated %}


<div class="pagination">

	<ul>
		{% if page_obj.has_previous %}
		<li class="prev"><a href="?page={{ page_obj.previous_page_number }}&q={{q}}">← Anterior</a></li>
		{% endif %}

		{% for pagina in rango%}

		{% if page_obj.number == pagina %}
		<li class="active"><a href="?page={{pagina}}&q={{q}}">{{ pagina }}</a></li>
		{% else %}
		<li><a href="?page={{pagina}}&q={{q}}">{{ pagina }}</a></li>
		{% endif%}
		{% endfor %}

		{% if page_obj.has_next %}
		<li class="next"> <a href="?page={{ page_obj.next_page_number }}&q={{q}}">Siguiente →</a></li>
		{% endif %}
	</ul>

</div>
{% endif %}
{% endif %}