{% extends 'base.html'%}


{% block title%}
{%if object.id%} 
Editar Provincia
{%else%}
Agregar Provincia
{%endif%}{%endblock%}
{%block content_title%}
{%if object.id%} 
Editar Provincia
{%else%}
Agregar Provincia
{%endif%}
{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li><a href="{% url 'provincia_list' %}">Provincias</a></li>
<span class="divider">»</span>
{%if object.id%}<li clas='active'>{{object}}</li>{%else%}<li clas='active'>Nueva</li>{%endif%}
{% endblock %}

{%block content%}
<form action="" method='POST' class='form-horizontal'>
	{%csrf_token%}
	<div class="control-group">
		<div class="control-label">
			{{form.nombre.label}} 
		</div>

		<div class="controls">
			{{form.nombre}}
		</div>
		<div class="controls help-text">
			{{form.nombre.help_text}}
		</div>
		<div class="controls errors">
			{{form.nombre.errors}}
		</div>	
	</div>
	<div class="control-group">
		<div class="control-label">
			{{form.abreviatura.label}} 
		</div>

		<div class="controls">
			{{form.abreviatura}}
		</div>
		<div class="controls help-text">
			{{form.abreviatura.help_text}}
		</div>
		<div class="controls errors">
			{{form.abreviatura.errors}}
		</div>	
	</div>
	

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Guardar</button>
		<a role='button' href="{% url 'provincia_list' %}" class='btn btn-danger'>Cancelar</a>
	</div>
</form>

{%endblock%}
