{% extends 'base.html' %}
{% block title %}{% block content_title %} Funcionalidades {% endblock %}{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Funcionalidades</li>
{% endblock %}
{% block content %}

    <div>
        <div class="row" ng-controller="funcionalidadControl">
            <div class="span2">
                <div class="panel panel-default">
                    <div class="panel-heading">Módulos</div>
                    <div class="panel-body" ng-controller="moduloControl">

                        <div ng-repeat="modulo in modulos">
                            <ul class="remove-decoration">
                                <li ng-click="MostrarFuncionalidadesDelModulo(modulo)" ng-class="{selected: modulo.codigo === codSelectedModulo}">{[{ modulo.nombre }]}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5">

                <messages-alert></messages-alert>

                <div id="idInfoItems" ng-show="!crud">
                     <div class="btn-toolbar pull-right">
                         <a class="btn btn-small" ng_click="nuevaFuncionalidad()" data-toggle="tooltip" title="Añadir una nueva funcionalidad"><i class="icon-plus"></i> Funcionalidad</a>
                     </div>
                    <table class="table table-bordered table-striped">
                    <caption ng-if="moduloActual.nombre">Funcionalidades de {[{ moduloActual.nombre }]}</caption>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Url</th>
                        <th>Módulo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-if="funcionalidades.length == 0">
                        <td colspan="5">No existen registros disponibles</td>
                    </tr>
                    </thead>

                    <tbody ng-repeat="funcionalidad in funcionalidades">
                    <tr>
                        <td>{[{ funcionalidad.nombre }]}</td>
                        <td>{[{ funcionalidad.url }]}</td>
                        <td>{[{ funcionalidad.modulo }]}</td>
                        <td><i ng-class="funcionalidad.estado == 'A' ? 'icon-check' : 'icon-check-minus'"></i></td>
                        <td><a ng-click="CargarFuncionalidad(funcionalidad.id)"><i class="icon-pencil"></i></a></td>
                           {[{funcionalidad.estado}]}
                    </tr>

                    </tbody>
                </table>
                 </div>

                 <div class="panel panel-default" ng-show="crud">
                    <div class="panel-heading">Información de la Funcionalidad</div>
                    <div class="panel-body">
                        <form action="" method="POST" class="form-horizontal" ng-submit="save()">
                            <input type="hidden" ng-model="id"/>
                            <input type="hidden" ng-model="idModulo"/>
                            <label for="">Nombre</label>
                            <input type="text" ng-model="nombre" required/>
                            <label for="">Código</label>
                            <input type="text" ng-model="codigo" required/>
                            <span class="help-block" ng-show="errorCodigo">{[{ errorCodigo }]}</span>
                            <label for="">Url</label>
                            <input type="text" ng-model="url" required/>
                            <span class="help-block" ng-show="errorUrl">{[{ errorUrl }]}</span>
                            <label for="">Grupos</label>
                            <select multiple name="" id="" ng-model="grupos"
                                    ng-options="grupo.name for grupo in gruposUsuarios track by grupo.id" required>
                                <option value="">-- Seleccione --</option>
                            </select>

                            <label for="">Descripción</label>
                            <textarea name="" id="" cols="60" rows="5" ng-model="descripcion"></textarea>
                            <label for="">Estado</label>
                             <select name="estado" id="" ng-model="estado" required>
                                <option value="">-- Seleccione --</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                            <label for="">Módulo</label>
                            <select name="" id="" ng-model="modulo"
                                    ng-options="modulo.nombre for modulo in modulos track by modulo.id" required>
                                <option value="">-- Seleccione --</option>
                            </select>
                            <label for="">Orden</label>
                            <input type="text" ng-model="orden"/>
                            <label for="">Icono</label>
                            <input type="text" ng-model="icono"/>

                            <div class="form-actions">
                                <a class="btn btn-primary" ng_click="limpiarCampos()">Nuevo</a>
                                <button class="btn btn-primary">Guardar</button>
                                <a class="btn btn-danger" ng_click="crud=false">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
       </div>
    </div>


{% endblock %}
