{% extends 'base.html' %}
{% block title %}{% block content_title %} Items de Catálogos {% endblock %}{% endblock %}
{% block content %}

    <div>
        <div class="row" ng-controller="itemControl">
            <div class="span2">
                <div class="panel panel-default">
                    <div class="panel-heading">Catálogos</div>
                    <div class="panel-body">

                        <div ng-repeat="catalogo in catalogos">
                            <ul>
                                <li ng-click="MostrarItemsDelCatalogo(catalogo)">{[{ catalogo.nombre }]}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5">

                <form class="form-horizontal" ng-submit="guardarItem()" action="" method="POST">
                    <input type="hidden" ng-model="catalogo"/>
                    <input type="hidden" ng-model="id"/>
                    <label for="">Código</label>
                    <input type="text" ng-model="codigo"/>
                    <label for="">Nombre</label>
                    <input type="text" ng-model="nombre"/>
                    <label for="">Valor</label>
                    <input type="text" ng-model="valor"/>
                    <label for="">Descripción</label>
                    <textarea name="" id="" cols="30" rows="10" ng-model="descripcion"></textarea>
                    <label for="">Estado</label>
                    <select name="" id="" ng-model="estado"
                            ng-options="estado.nombre for estado in estadosGenerales track by estado.id">
                        <option value="">-- Seleccione --</option>
                    </select>
                    <label for="">Padre</label>
                    <label for="">Principal</label>
                    <input type="checkbox" ng-model="principal" value="principal"/>

                    <div class="form-actions">
                        <button class="btn btn-primary" ng_click="limpiarCampos()">Nuevo</button>
                        <button class="btn btn-primary">Guardar</button>
                    </div>

                </form>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Principal</th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-if="items.length == 0">
                        <td colspan="5">No existen registros disponibles</td>
                    </tr>
                    </thead>

                    <tbody ng-repeat="item in items">
                    <tr>
                        <td>{[{ item.codigo }]}</td>
                        <td>{[{ item.nombre }]}</td>
                        <td>{[{ item.descripcion }]}</td>
                        <td><i ng-class="item.principal == true ? 'icon-check' : 'icon-check-minus'"></i></td>
                        <td><a ng-click="CargarItem(item.id)"><i class="icon-pencil"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
