{% extends 'base.html' %}
{% block title %}{% block content_title %} Módulos {% endblock %}{% endblock %}
{% block content %}

    <div>
        <div class="row" ng-controller="moduloControl">
            <div class="span2">
                <div class="panel panel-default">
                    <div class="panel-heading">Módulos</div>
                    <div class="panel-body">

                        <div ng-repeat="modulo in modulos">
                            <ul class="remove-decoration">
                                <li ng-click="MostrarInfoModulo(modulo)" ng-class="{selected: modulo.codigo === codSelectedModulo}">{[{ modulo.nombre }]}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="panel panel-default">
                    <div class="panel-heading">Información del Módulo</div>
                    <div class="panel-body">
                        <form action="" method="POST" class="form-horizontal" ng-submit="save()">
                            <input type="hidden" ng-model="id"/>
                            <label for="">Nombre</label>
                            <input type="text" ng-model="nombre" required/>
                            <label for="">Código</label>
                            <input type="text" ng-model="codigo" required/>
                            <label for="">Descripción</label>
                            <textarea name="" id="" cols="60" rows="5" ng-model="descripcion"></textarea>
                            <label for="">Estado</label>
                            <select name="" id="" ng-model="estado" required
                                    ng-options="estado.nombre for estado in estadosGenerales track by estado.id">
                                <option value="">-- Seleccione --</option>
                            </select>

                            <label for="">Orden</label>
                            <input type="text" ng-model="orden"/>

                            <div class="form-actions">
                                <button class="btn btn-primary" ng_click="limpiarCampos()">Nuevo</button>
                                <button class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
       </div>
    </div>


{% endblock %}
