{% extends 'base.html' %}
{% block title %}{% block content_title %} Parámetros {% endblock %}{% endblock %}
{% block content %}

    <div>
        <div class="row" ng-controller="ParametroControl">
            <div class="span2">
                <div class="panel panel-default">
                    <div class="panel-heading">Parámetros</div>
                    <div class="panel-body">

                        <div ng-repeat="parametro in parametros">
                            <ul>
                                <li ng-click="MostrarInfoParametro(parametro.codigo)">{[{ parametro.nombre }]}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="panel panel-default">
                    <div class="panel-heading">Información del Parámetro</div>
                    <div class="panel-body">
                        <form action="" method="POST" class="form-horizontal" ng-submit="submit()">
                            <input type="hidden" ng-model="id"/>
                            <label for="">Código</label>
                            <input type="text" ng-model="codigo"/>
                            <label for="">Nombre</label>
                            <input type="text" ng-model="nombre"/>
                            <label for="">Valor</label>
                            <input type="text" ng-model="valor"/>
                            <label for="">Descripción</label>
                            <textarea name="" id="" cols="60" rows="5" ng-model="descripcion"></textarea>
                            <label for="">Estado</label>
                            <select name="" id="" ng-model="estado"
                                    ng-options="estado.nombre for estado in estadosGenerales track by estado.id">
                                <option value="">-- Seleccione --</option>
                            </select>

                            <div class="form-actions">
                                <button class="btn btn-primary" ng_click="limpiarCampos()">Nuevo</button>
                                <button class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
