{% extends 'base.html' %}
{% block title %}{% block content_title %} Parámetros {% endblock %}{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Parámetros</li>
{% endblock %}
{% block content %}

    <div>
        <div class="row" ng-controller="ParametroControl">
            <div class="span2">
                <div class="panel panel-default">
                    <div class="panel-heading">Parámetros</div>
                    <div class="panel-body">

                        <div ng-repeat="parametro in parametros">
                            <ul class="remove-decoration">
                                <li ng-click="MostrarInfoParametro(parametro.codigo)" ng-class="{selected: parametro.codigo === codSelectedParametro}">{[{ parametro.nombre }]}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <messages-alert></messages-alert>
                <div class="panel panel-default">
                    <div class="panel-heading">Información del Parámetro</div>
                    <div class="panel-body">
                        <form action="" method="POST" class="form-horizontal" ng-submit="submit()">

                            <input type="hidden" ng-model="id"/>
                            <label for="" class="control-label">Código</label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" ng-model="codigo" required/>
                                    <span class="help-block" ng-show="errorCodigo">{[{ errorCodigo }]}</span>
                                </div>
                            </div>
                            <label for="" class="control-label">Nombre</label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" ng-model="nombre" required/>
                                </div>
                            </div>
                            <label for="" class="control-label">Valor</label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" ng-model="valor" required/>
                                </div>
                            </div>
                            <label for="" class="control-label">Descripción</label>
                            <div class="control-group">
                                <div class="controls">
                                    <textarea name="" id="" cols="60" rows="5" ng-model="descripcion"></textarea>
                                </div>
                            </div>
                            <label for="" class="control-label">Estado</label>

                            <div class="control-group">
                                <div class="controls">
                                    <select name="estado" id="" ng-model="estado" required>
                                        <option value="">-- Seleccione --</option>
                                        <option value="A">Activo</option>
                                        <option value="I">Inactivo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-actions">
                                <a class="btn btn-primary" ng_click="limpiarCampos()">Nuevo</a>
                                <button class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
