{%extends 'base.html'%}
{%load tags%}

{%block title%}
{%if object.id%}
Configuraciones de la Parroquia 
{%else%}
Configuraciones de la Parroquia
{%endif%}
{%endblock%}
{%block content_title%}
{%if object.id%} 
Configuraciones de la Parroquia
{%else%}
Configuraciones de la Parroquia
{%endif%}
{%endblock%}

{%block content%}


<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li  class="active"><a data-toggle="pill" href="#informacion">Informacion</a></li>
		<li><a data-toggle="pill" href="#iglesia">Paso 1</a></li>
		<li><a data-toggle="pill" href="#bautismo">Paso 2</a></li>
		<li><a data-toggle="pill" href="#primeracomunion">Paso 3</a></li>
		<li><a data-toggle="pill" href="#confirmacion">Paso 4</a></li>
		<li><a data-toggle="pill" href="#matrimonio">Paso 5</a></li>
	</ul>
	<div class="tab-content">
		<div class='tab-pane active' id='información'>
			<h2>Información</h2>		
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, deserunt velit id ad fugiat quia quod ut nemo cupiditate magni dicta sint officiis at rem excepturi repellat quidem placeat eius?
			</p>
		</div>
		<div class='tab-pane' id='iglesia'>
			<h2>Iglesia Matriz</h2>
			<form action="" class="form-horizontal">
				{%for f in form_iglesia%}
				<div class="control-group">
					<label class='control-label'>{{f.label_tag}}</label>
					<div class="controls">
						{{f}}
					</div>
				</div>

				{%endfor%}
				
				<div class="form-actions">
					<button class="btn btn-primary">Siguiente</button>
				</div>
			</form>
		</div>
		<div class='tab-pane' id='bautismo'>
			<h2>Libro de Bautismos</h2>
			<form action="" class="form-horizontal">
				{%for f in form_libro_bautismo%}
				<div class="control-group">
					<label class='control-label'>{{f.label_tag}}</label>
					<div class="controls">
						{{f}}
					</div>
				</div>

				{%endfor%}
				
				<div class="form-actions">
					<button class="btn btn-primary">Siguiente</button>
				</div>
			</form>
		</div>
		<div class='tab-pane' id='primeracomunion'>
			<h2>Libro de Primeras Comuniones</h2>
			<form action="" class="form-horizontal">
				{%for f in form_libro_pcomunion%}
				<div class="control-group">
					<label class='control-label'>{{f.label_tag}}</label>
					<div class="controls">
						{{f}}
					</div>
				</div>

				{%endfor%}

				<div class="form-actions">
					<button class="btn btn-primary">Siguiente</button>
				</div>
			</form>			
		</div>
		<div class='tab-pane' id='confirmacion'>
			<h2>Libro de Confirmaciones</h2>
			<form action="" class="form-horizontal">
				{%for f in form_libro_confirmacion%}
				<div class="control-group">
					<label class='control-label'>{{f.label_tag}}</label>
					<div class="controls">
						{{f}}
					</div>
				</div>

				{%endfor%}

				<div class="form-actions">
					<button class="btn btn-primary">Siguiente</button>
				</div>
			</form>			
		</div>
		<div class='tab-pane' id='matrimonio'>
			
				<div class="form-actions">
					<h2>Libro de Matrimonios</h2>
				</div>
			
			<form action="" class="form-horizontal">
				{%for f in form_libro_matrimonio%}
				<div class="control-group">
					<label class='control-label'>{{f.label_tag}}</label>
					<div class="controls">
						{{f}}
					</div>
				</div>

				{%endfor%}

				<div class="form-actions">
					<button class="btn btn-primary">Siguiente</button>
				</div>
			</form>		
		</div>

	</div>
</div>

{% endblock%}

