{%extends 'base.html'%}
{%load core_tags sacramentos_tags %}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Configuración Inicial</li>
{% endblock %}

{%block title%}{%block content_title%}
Configuraciones de la Parroquia
{%endblock%}{%endblock%}

{%block content%}

<div id="errores"></div>

<div id='bautismo'>
	{% if not libro_bautismo %}
	<strong>Libro de Bautismos</strong><span class="pull-right">2%</span>
	<div class="progress">
		<div class="bar bar-danger" style="width: 2%;"></div>
	</div>
	{% libro_bautismo %}
	{% else %}
	<strong>Libro de Bautismos</strong><span class="pull-right">100%</span>
	<div class="progress">
		<div class="bar bar-success" style="width: 100%;"></div>
	</div>
	{% endif %}
</div>
<div id='eucaristia'>
	{% if not libro_eucaristia %}	
	<strong>Libro de Primeras Comuniones</strong><span class="pull-right">2%</span>
	<div class="progress">
		<div class="bar bar-danger" style="width: 2%;"></div>
	</div>
	{% libro_eucaristia %}	
	{% else %}
	<strong>Libro de Primeras Comuniones</strong><span class="pull-right">100%</span>
	<div class="progress">
		<div class="bar bar-success" style="width: 100%;"></div>
	</div>
	{% endif %}
</div>
<div id='confirmacion'>
	{% if not libro_confirmacion %}	
	<strong>Libro de Confirmaciones</strong><span class="pull-right">2%</span>
	<div class="progress">
		<div class="bar bar-danger" style="width: 2%;"></div>
	</div>
	{% libro_confirmacion %}
	{% else %}
	<strong>Libro de Confirmaciones</strong><span class="pull-right">100%</span>
	<div class="progress">
		<div class="bar bar-success" style="width: 100%;"></div>
	</div>
	{% endif %}
</div>
<div id='matrimonio'>
	{% if not libro_matrimonio %}
	<strong>Libro de Matrimonios</strong><span class="pull-right">2%</span>
	<div class="progress">
		<div class="bar bar-danger" style="width: 2%;"></div>
	</div>	
	{% libro_matrimonio %}	
	{% else %}
	<strong>Libro de Matrimonios</strong><span class="pull-right">100%</span>
	<div class="progress">
		<div class="bar bar-success" style="width: 100%;"></div>
	</div>
	{% endif %}
</div>

	<!--</div>
</div> -->

{% endblock%}

