{% extends 'base.html' %}
{%block title%}{%block content_title%}Lista de Grupos{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Grupos</li>
{% endblock %}

{%block content%}
{% include 'includes/busqueda_form.html' %}
{%if perms.auth.add_group %}
<a href="{%url 'group_create'%}" class='btn btn-primary'>Nuevo Grupo</a>
{%endif%}

<table id='id_table_group' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Nombre del Grupo</th>
            <th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{%for o in object_list%}
		<tr>
            <td>{{o.name}}</td>
			<td><a href="/group/{{o.id}}"><i class="icon-pencil"></i></a></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{% include 'includes/paginacion.html' %}

{%endblock%}