{% extends 'base.html'%}
{% block title%}{%block content_title%}
{%if object.id%}Editar Cantón{%else%}Agregar Cantón{%endif%}
{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li><a href="{% url 'canton_list' %}">Cantones</a></li>
<span class="divider">»</span>
{%if object.id%}<li class='active'>{{object}}</li>{%else%}<li class='active'>Nuevo</li>{%endif%}
{% endblock %}


{%block content%}
<form action="" method='POST' class='form-horizontal'>
	{%csrf_token%}
	
	<div class="control-group">
		<div class="control-label">
			{{form.nombre.label}} 
		</div>

		<div class="controls">
			{{form.nombre}}
		</div>
		<div class="controls help-text">
			{{form.nombre.help_text}}
		</div>
		<div class="controls errors">
			{{form.nombre.errors}}
		</div>	
	</div>
	<div class="control-group">
		<div class="control-label">
			{{form.abreviatura.label}} 
		</div>

		<div class="controls">
			{{form.abreviatura}}
		</div>
		<div class="controls help-text">
			{{form.abreviatura.help_text}}
		</div>
		<div class="controls errors">
			{{form.abreviatura.errors}}
		</div>	
	</div>
	<div class="control-group">
		<div class="control-label">
			{{form.provincia.label}} 
		</div>

		<div class="controls">
			{{form.provincia}}
		</div>
		<div class="controls help-text">
			{{form.provincia.help_text}}
		</div>
		<div class="controls errors">
			{{form.provincia.errors}}
		</div>	
	</div>
	
	

	<div class="form-actions">
		<button type="submit" class='btn btn-primary'>Guardar</button>
		<a href="{% url 'canton_list' %}" class='btn btn-danger'>Cancelar</a>
	</div>
</form>
{%endblock%}

