{% extends 'base.html'%}
{% block title%} Cantones {% endblock %}
{%block content_title%}
Lista de Cantones
{%endblock%}
{%block content%}


{% include 'includes/busqueda_form.html' %} 
<a href="{% url 'canton_create' %}" class='btn btn-primary'>Nuevo Cantón</a>

<table id='id_table_canton' class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th data-hide='phone'>Código</th>
		</tr>
	</thead>

	<tbody>
		{% for o in object_list %}
		<tr>
			<td><a href="{{o.get_absolute_url}}">{{o.nombre|title}}</a></td>
			<td>{{o.abreviatura}}</td>
		</tr>

		{%endfor%}
	</tbody>
</table>

{% include 'includes/paginacion.html' %}

{%endblock%}