<div class="navbar navbar-inverse nav navbar">
	<div class="navbar-inner">
		<div class="container">
			
			{% if user.is_authenticated %}
			<a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a  class='brand' href="/home/"><i class="icon-home icon-1x"></i></a></li>
					<li class="divider-vertical"></li>
					<li class="dropdown">
						{%if perms.auth.change_group or perms.admin.change_logentry%}
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración<b class="caret"></b></a>
						{%endif%}
						<ul class="dropdown-menu">
							{% if perms.auth.change_group and perms.auth.change_permission%}
							<li><a href="{%url 'group_list'%}">Grupos y Permisos</a></li>
							{%endif%}
							{% if perms.admin.change_logentry%}
							<li><a href="{%url 'log_list'%}">Logs</a></li>
							{%endif%}
						</ul>
					</li>
					<li class="dropdown">
						{% if perms.sacramentos.change_administrador or perms.sacramentos.add_administrador or perms.sacramentos.change_feligres or perms.sacramentos.add_feligres or perms.sacramentos.change_secretaria or perms.sacramentos.add_secretaria or perms.sacramentos.change_sacerdote or perms.sacramentos.add_sacerdote %}
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Personas<b class="caret"></b></a>
						{%endif%}
						<ul class="dropdown-menu">
							{% if  perms.sacramentos.change_administrador and perms.sacramentos.add_administrador%}
							<li><a href="{% url 'administrador_list'%}">Administrador</a></li>
							{%endif%}
							{% if perms.sacramentos.change_feligres and perms.sacramentos.add_feligres%}
							<li><a href="{% url 'usuario_list'%}">Feligres</a></li>
							{%endif%}
							{% if perms.sacramentos.change_sacerdote and perms.sacramentos.add_sacerdote%}
							<li><a href="{% url 'sacerdote_list'%}">Sacerdote</a></li>
							{%endif%}
							{% if perms.sacramentos.add_secretaria and perms.sacramentos.change_secretaria%}
							<li><a href="{% url 'asignar_secretaria_list'%}">Secretaria</a></li>
							{%endif%}
						</ul>
					</li>

					{%if perms.sacramentos.change_libro%}
					<li><a href="{%url 'libro_list'%}">Libros</a></li>
					{%endif%}
					<li class="dropdown">
						{% if perms.sacramentos.change_bautismo or  perms.sacramentos.add_bautismo or perms.sacramentos.change_eucaristia or  perms.sacramentos.add_eucaristia or perms.sacramentos.change_matrimonio or  perms.sacramentos.add_matrimonio or perms.sacramentos.change_confirmacion or  perms.sacramentos.add_confirmacion %}
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sacramentos <b class="caret"></b></a>
						{%endif%}
						<ul class="dropdown-menu">
							{% if perms.sacramentos.change_bautismo and perms.sacramentos.add_bautismo %}
							<li><a href="{% url 'bautismo_list'%}">Bautismo</a></li>
							{%endif%}
							{% if perms.sacramentos.change_eucaristia and perms.sacramentos.add_eucaristia%}
							<li><a href="{% url 'eucaristia_list'%}">Primera Comunión</a></li>
							{%endif%}
							{% if perms.sacramentos.change_confirmacion and perms.sacramentos.add_confirmacion%}
							<li><a href="{% url 'confirmacion_list'%}">Corfirmación</a></li>
							{%endif%}
							<li class="dropdown-submenu" >
								{% if perms.sacramentos.change_matrimonio or perms.sacramentos.add_matrimonio%}
								<a tabindex="-1" href="#">Matrimonio</a>
								{%endif%}
								<ul class="dropdown-menu">
									{% if perms.sacramentos.change_matrimonio and perms.sacramentos.add_matrimonio%}
									<li><a href="{% url 'matrimonio_list'%}">Vigentes</a></li>
									{%endif%}
									{% if perms.sacramentos.change_matrimonio and perms.sacramentos.add_matrimonio%}
									<li><a href="{% url 'matrimonio_list_no_vigentes'%}">No Vigentes</a></li>
									{%endif%}
								</ul>
							</li>
						</ul>
					</li>
					{% if perms.sacramentos.change_intenciones%}
					<li><a href="{%url 'intencion_list'%}">Intenciones</a></li>
					{%endif%}
					<li class='dropdown'>
						{% if perms.sacramentos.change_bautismo or  perms.sacramentos.add_bautismo or perms.sacramentos.change_eucaristia or  perms.sacramentos.add_eucaristia or perms.sacramentos.change_matrimonio or  perms.sacramentos.add_matrimonio or perms.sacramentos.change_confirmacion or  perms.sacramentos.add_confirmacion %}
						<a class='dropdown-toggle' data-toggle='dropdown' href="#">Reportes<b class="caret"></b></a>
						{%endif%}
						<ul class='dropdown-menu'>
							{% if perms.sacramentos.change_bautismo and  perms.sacramentos.add_bautismo and perms.sacramentos.change_eucaristia and  perms.sacramentos.add_eucaristia and perms.sacramentos.change_matrimonio and  perms.sacramentos.add_matrimonio and perms.sacramentos.change_confirmacion and  perms.sacramentos.add_confirmacion %}
							<li><a href="{%url 'reporte_anual'%}" > Anual Sacramentos</a></li>
							{%endif%}
							{%if perms.sacramentos.change_intenciones and perms.sacramentos.add_intenciones%}
							<li><a href="{%url 'reporte_intenciones'%}" >Intenciones</a></li>
							{%endif%}
							{% if perms.sacramentos.change_bautismo and  perms.sacramentos.add_bautismo and perms.sacramentos.change_eucaristia and  perms.sacramentos.add_eucaristia and perms.sacramentos.change_matrimonio and  perms.sacramentos.add_matrimonio and perms.sacramentos.change_confirmacion and  perms.sacramentos.add_confirmacion %}
							<li><a href="{%url 'reporte_permiso'%}" >Permisos</a></li>
							{%endif%}

						</ul>
					</li>
					<li class="dropdown">
						{% if perms.ciudades%}
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ciudades<b class="caret"></b></a>
						{%endif%}
						<ul class="dropdown-menu">
							{% if perms.ciudades.change_provincia and perms.ciudades.add_provincia%}
							<li><a href="{% url 'provincia_list'%}">Provincias</a></li>
							{%endif%}
							{% if perms.ciudades.change_canton and perms.ciudades.add_canton%}
							<li><a href="{% url 'canton_list'%}">Cantones</a></li>
							{%endif%}
							{% if perms.ciudades.change_parroquia and perms.ciudades.add_parroquia%}
							<li><a href="{% url 'parroquiacivil_list'%}">Parroquias</a></li>
							{%endif%}
						</ul>
					</li>
					<li class="dropdown">
						{% if perms.sacramentos.change_parroquia or perms.sacramentos.add_parroquia or perms.sacramentos.change_asignarsecretaria or perms.sacramentos.add_asignarsecretaria%}
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Parroquias Eclesiásticas<b class="caret"></b></a>
						{%endif%}
						<ul class="dropdown-menu">
							{% if perms.sacramentos.change_parroquia%}
							<li><a href="{%url 'parroquia_list'%}">Parroquias</a></li>
							{%endif%}
							{% if perms.sacramentos.change_asignarsecretaria%}
							<li><a href="{%url 'asignar_secretaria_list'%}">Asignar Secretaria</a></li>
							{%endif%}
						</ul>
					</li>
					<li class="dropdown">
						{% if perms.sacramentos.change_parametrizadiocesis or perms.sacramentos.change_parametrizaparroquia%}
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Parámetros<b class="caret"></b></a>
						{%endif%}
						<ul class="dropdown-menu">
							{% if perms.sacramentos.change_parametrizadiocesis%}
							<li><a href="{%url 'parametriza_create'%}">Diocesis</a></li>
							{%endif%}
							{% if perms.sacramentos.change_parametrizaparroquia%}
							<li><a href="{%url 'parametriza_parroquia_create'%}">Parroquia</a></li>
							{%endif%}
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							{%if user.get_full_name%}{{ user.get_full_name }}{%else%}{{ user.username }}{%endif%}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{%url 'password_change'%}"><i class="icon-key"></i> Cambiar Clave</a></li>
							<li><a href="{%url 'logout'%}"><i class="icon-power-off"></i> Cerrar Sesión</a></li>
						</ul>
					</li>
				</ul>	
			</div>

			<!-- Cuando no está logeado-->
			{%else%}
			<ul class="nav">
				<li><a  class='brand' href="{%url 'index'%}"><i class="icon-home icon-1x"></i></a></li>
				<li class="divider-vertical"></li>
				<li><a href="{%url 'buscar'%}">Buscar</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a id='pequenia' href="" style='font-size: 1em'>A</a></li> 
				<li><a id='mediana' href="" style='font-size: 1.25em'>A</a></li>
				<li><a id='grande' href="" style='font-size: 1.5em'>A</a></li>
				<li class="divider-vertical"></li>
				<li><a href='/login/'>Iniciar Sesión</a></li>
			</ul>
			{%endif%}

		</div>
	</div>
</div>





