{% extends 'base.html'%}

{%block title%}Lista de Confirmados{%endblock%}
{%block content_title%}
Lista de Confirmados
{%endblock%}

{%block extrascript%}
<script src='/static/js/tablas.js'></script>
{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Confirmaciones</li>
{% endblock %}

{%block content%}

{% include 'includes/busqueda_persona_form.html' %}
{%if perms.sacramentos.add_confirmacion %}
<a href="{% url 'confirmacion_create' %}" class='btn btn-primary'>Nuevo Registro</a>
{%endif%}

<table id='id_table_confirmacion' class='table table-bordered table-striped'>
	<thead>
		<tr>		
			<th>Confirmado</th>
			<th data-hide='phone'>Fecha Nacimiento</th>
			<th>Fecha Sacramento</th>
			<th>Acciones</th>		
		</tr>		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td>{{o.confirmado.nombres_completos}}</td>
			<td id='id_fecha_nacimiento'>{{o.confirmado.fecha_nacimiento}}</td>
			<td id='id_fecha_sacramento'>{{o.fecha_sacramento}}</td>
			<td><a href="{%url 'confirmacion_update' pk=o.id%}"><i class="icon-pencil"></i></a></td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% include 'includes/paginacion.html' %}
{%endblock%}