{%extends 'base.html'%}
{%block title%}{%block content_title%}Lista de Iglesias{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Iglesias</li>
{% endblock %}
{%block content%}
{% include 'includes/busqueda_form.html' %} 

<a href="{%url 'iglesia_create'%}" class='btn btn-primary'>Nueva Iglesia</a>


<table id='id_table_parroquia' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Es la Iglesia Matriz</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>

		{%if not object_list%}
		<tr >
			<td colspan="3">No existe ningún registro</td>
		</tr>
		{%endif%}

		{%for o in object_list%}
		<tr>
			<td>{{o}}</td>
			<td>{% if o.principal %} <i class='icon-check text-success'></i> {% else %} <i class='icon-check-minus'></i>{% endif%}</td>
			<td>
				<a href="{{o.get_absolute_url}}"><i class="icon-pencil"></i></a>
			</td>
		</tr>
		{%endfor%}
	</tbody>
</table>

{% include 'includes/paginacion.html' %}

{%endblock%}