{% extends 'base.html' %}
{%block title%}
{%if object.id%}
Editar Administrador
{%else%}
Agregar Administrador
{%endif%}
{%endblock%}

{%block content_title%}
{%if object.id%} 
Editar Administrador
{%else%}
Agregar Administrador
{%endif%}
{%endblock%}

{%block content%}

<form action="." method="POST" class="form-horizontal">
	{%csrf_token%}
	

	<div class="control-group">
		<div class="control-label">
			{{ form.administrador.label }}
		</div>
		<div class="controls">
			{{ form.administrador }} 
			<a href="#id_buscar_feligreses" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i></a>
			
			<a href="{% url 'administrador_create'%}" class="btn btn-primary"><i class='icon-plus'></i></a>
		</div>
		<div class="controls">
			<div class="help-text">
				{{ form.administrador.help_text }}	
			</div>
		</div>
		<div class="controls">
			<div class="errors">
				{% if form.administrador.errors %}
				<ul class="errorlist">
					{% for error in form.administrador.errors %}
					<li>{{ error }}  Puede asignarle un correo mediante este <a href="#id_email" data-toggle='modal'>formulario</a></li>
					{% endfor %}
				</ul>
				
				{% endif %}
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="control-label">
			{{ form.is_staff.label }}
		</div>
		<div class="controls">
			{{ form.is_staff }} 
		</div>
		<div class="controls">
			<div class="help-text">
				{{ form.is_staff.help_text }}	
			</div>
		</div>
		<div class="controls">
			<div class="errors">
				{{ form.is_staff.errors }} 
			</div>
		</div>
	</div>


	
	<div class="form-actions">
		<button class='btn btn-primary' type="submit">Guardar</button>
		<a href="{% url 'administrador_list' %}" class='btn btn-danger'>Cancelar</a>
	</div>

</form>


{%include 'usuario/buscar_feligreses.html'%}

<div id="id_email" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Búsqueda de Feligreses</h3>
	</div>
	<div class="modal-body">
	<form action="/cxzcxzcxz/" method="POST">
		{%csrf_token%}
		{{form_email}}
		}
	</form>
	</div>
	<div class="modal-footer">
		<a id='id_aceptar' href="." class="btn btn-primary" data-dismiss="modal">Aceptar</a>
	</div>
</div>


{% endblock %}