{%extends 'base.html'%}
{%block title%}Lista de Administradores del Sistema{%endblock%}
{%block content_title%}
Lista de Administradores del Sistema
{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Administradores</li>
{% endblock %}

{% block content%}
{% include 'includes/busqueda_persona_form.html' %}
{%if perms.sacramentos.add_administrador%}
<a href="{%url 'administrator_create'%}" class='btn btn-primary'>Nuevo Administrador</a>
{%endif%}

<table id='id_table_administrador' class='footable table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Username</th>
			<th>Nombres</th>
			<th>Cédula</th>
			<th data-hide='phone, tablet'>Fecha de Nacimiento</th>
			<th data-hide='phone, tablet'>Es activo</th>
		</tr>
	</thead>
	<tbody>
		{% for o in object_list%}
	<tr>
		<td><a href="{{o.get_absolute_url_administrador}}">{{o.user.username}}</a></td>
		<td>{{o.user.get_full_name}}</td>
		<td>{{o.dni}}</td>
		<td>{{o.fecha_nacimiento}}</td>
		<td>{% if o.user.is_staff%} Está Activo {% else %} No está activo {% endif %}</td>
	</tr>
		{%endfor%}
	</tbody>
</table>

{% include 'includes/paginacion.html' %}

{% endblock%}