{%extends 'base.html'%}
{%load tags_html%}
{%block title%}
{%if object.id%}
Editar Secretario
{%else%}
Agregar Secretario
{%endif%}
{%endblock%}

{%block content_title%}
{%if object.id%} 
Editar Secretario
{%else%}
Agregar Secretario
{%endif%}
{%endblock%}

{% block content%}

<form action="." method='POST' class='form-horizontal'>
	{% csrf_token%}

	<div class="row">
		<div class="span10">
			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos Personales</legend>
				<div class="control-group">
					{{form_usuario.first_name|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_usuario.first_name}}
					</div>
					<div class="controls">
						<div class="help-text">								
							{{form_usuario.first_name.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">								
							{{form_usuario.first_name.errors}}
						</div>
					</div>
				</div>
				<div class="control-group">
					{{form_usuario.last_name|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_usuario.last_name}}
					</div>
					<div class="controls">
						<div class='help-text'>
							{{form_usuario.last_name.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class='errors'>
							{{form_usuario.last_name.errors}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<div class="control-group">
							<div class="control-label">
								{{form_perfil.nacionalidad.label}} *
							</div>
							
							<div class="controls">
								{{form_perfil.nacionalidad}}
							</div>
							<div class="controls">
								<div class='help-text'>
									{{form_perfil.nacionalidad.help_text}}
								</div>
							</div>
							<div class="controls">
								<div class='errors'>
									{{form_perfil.nacionalidad.errors}}
								</div>
							</div>
						</div>
						<div class="control-group">
							<div class="control-label">
								{{form_perfil.dni.label}} *
							</div>
							<div class="controls">
								{{form_perfil.dni}} 
							</div>
							<div class="controls">
								<div class='help-text'>
									{{form_perfil.dni.help_text}}
								</div>
							</div>
							<div class="controls">
								<div class='errors'>
									{{form_perfil.dni.errors}}
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="control-group">
				<label class="control-label">
					{{form_perfil.sexo.label}} *
				</label>
					
					<div class="controls">
						{% for radio in form_perfil.sexo %}
						{{ radio }}
						{% endfor %}
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.sexo.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.sexo.errors}}
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class='control-label'>
						{{form_perfil.estado_civil.label}} *
					</label>
					
					<div class="controls">
						{{form_perfil.estado_civil}}
					</div>
					<div class="controls">
						<div class='help-text'>
							{{form_perfil.estado_civil.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class='errors'>
							{{form_perfil.estado_civil.errors}}
						</div>
					</div>
				</div>

			</fieldset>

			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos de Nacimiento</legend>
				<div class="control-group">
					<label for="id_fecha_nacimiento" class='control-label'>

						{{form_perfil.fecha_nacimiento.label}} *
					</label>
					<div class="controls">
						<div class='error'>
							{{form_perfil.fecha_nacimiento}}
						</div>
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.fecha_nacimiento.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.fecha_nacimiento.errors}}
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="id_lugar_nacimiento" class='control-label'>
						{{form_perfil.lugar_nacimiento.label}} *
					</label>
					<div class="controls">
						{{form_perfil.lugar_nacimiento}}
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.lugar_nacimiento.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.lugar_nacimiento.errors}}
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Datos de Contacto</legend>
				<div class="control-group">
					<label for="id_email" class='control-label'>
						{{form_usuario.email.label}}
					</label>
					<div class='controls'>
						{{form_usuario.email}}
					</div>
					<div class='controls'>
						<div class="help-text">
							{{form_usuario.email.help_text}}
						</div>
					</div>
					<div class='controls'>
						<div class="errors">
							{{form_usuario.email.errors}}
						</div>
					</div>

				</div> 

			</fieldset>


			{%if perms.auth.change_group or perms.auth.add_group%}
			{%if object.id%}
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Grupos</legend>
				<div class="control-group">
					{{form_usuario.groups|label_with_classes:'control-label'}}
					<div class='controls'>
						{{form_usuario.groups}}
					</div>
					<div class='controls'>
						<div class="help-text">
							{{form_usuario.groups.help_text}}
						</div>
					</div>
					<div class='controls'>
						<div class="errors">
							{{form_usuario.groups.errors}}
						</div>
					</div>
					
				</div>
			</fieldset>
			{%else%}
			<fieldset class="scheduler-border" style="display:none">
				<legend class="scheduler-border">Grupos</legend>
				<div class="control-group">
					{{form_usuario.groups|label_with_classes:'control-label'}}
					<div class='controls'>
						{{form_usuario.groups}}
					</div>
					<div class='controls'>
						<div class="help-text">
							{{form_usuario.groups.help_text}}
						</div>
					</div>
					<div class='controls'>
						<div class="errors">
							{{form_usuario.groups.errors}}
						</div>
					</div>
					
				</div>
			</fieldset>
			{%endif%}
			{%endif%}


			<div class="form-actions">
				<button type="submit" class='btn btn-primary'> Guardar </button>
				<a href="{% url 'asignar_secretaria_list' %}" class='btn btn-danger'>Cancelar</a>
			</div>

		</div>
	</div>



</form>
{% endblock%}