{% extends 'base.html'%}
{%block title%}{%block content_title%}Lista de Feligreses{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Feligreses</li>
{% endblock %}


{%block content%}

{% include 'includes/busqueda_persona_form.html'%}
{%if perms.sacramentos.add_feligres%}
<a href="{% url 'usuario_create' %}" class='btn btn-primary'>Nuevo Feligres</a>
{%endif%}

<table id='id_table_feligres' class='table table-bordered table-striped table-hover'>

	<thead>
		<tr>
			
			<th>Nombres</th>
			<th>Dni</th>
			<th data-hide="phone">Fecha Nacimiento</th>
			<th data-hide="phone,tablet">Lugar de Nacimiento</th>
			<th>Acciones</th>
		</tr>
		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td>{{o.user.get_full_name}}</td>
			<td> {{o.dni}}</td>
			<td id='id_fecha_nacimiento'>{{o.fecha_nacimiento}}</td>
			<td>{{o.lugar_nacimiento}}</td>
			<td>
				<a href="{% url 'usuario_detail' pk=o.id %}"><i class='icon-eye-open'></i></a>
				&nbsp
				<a href="{%url 'usuario_update' pk=o.id%}"><i class='icon-pencil'></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>

</table>

{% include 'includes/paginacion.html' %}


{%endblock%}