{%extends 'base.html'%}
{%load sacramentos_tags tags_html%}
{%block title%}{%block content_title%}Detalle Feligrés{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li><a href="{% url 'usuario_list' %}">Feligreses</a></li>
<span class="divider">»</span>
{%if object.id%}<li clas='active'>{{object}}</li>{%else%}<li clas='active'>Nuevo</li>{%endif%}
{% endblock %}

{%block content%}

<div class="row">
	<div class="hero-unit">
		<div class="span2">
			<span class="icon-stack icon-4x">
				<i class="icon-circle icon-stack-base icon-muted"></i>
				<i class="icon-user"></i>
			</span>
		</div>
		<div class="span4">
			<h3>{{object}}</h3>
			<div class="control-group" style="font-size: 0.75em; !important">
				<div class="controls"> {{object.fecha_nacimiento}} </div>
				<div class="controls">{{object.lugar_nacimiento}} - {{object.get_nacionalidad_display}}</div>
				<div class="controls">{{object.dni}}</div>
				<div class="controls">{{object.get_sexo_display}}</div>
				<div class="controls">{{object.get_estado_civil_display}}</div>
			</div>
		</div>
		<div class="span2">
			<a href="{% url 'usuario_update' pk=object.id %}" class="btn btn-primary">Editar</a>
			<a href="{% url 'usuario_list' %}" class="btn btn-danger">Cancelar</a>
		</div>		
	</div>
</div>
<br/>

<br/>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Sacramentos</th>
			<th>Fecha del Sacramento</th>
			<th>Parroquia</th>
			<th>Iglesia</th>
		</tr>
		
	</thead>
	<tbody>
		{% if object.bautismo %}
		<tr>
			<td><a href="{% url 'bautismo_update' pk=object.bautismo.id %}">Bautismo</a></td>
			<td>{{object.bautismo.fecha_sacramento}}</td>
			<td>{{object.bautismo.parroquia}}</td>
			<td>{{object.bautismo.iglesia}}</td>
		</tr>
		{%endif%}

		{% if object.primera_comunion %}
		<tr>
			<td><a href="{% url 'eucaristia_update' pk=object.primera_comunion.id%}">Primera Comunión</a></td>
			<td>{{object.primera_comunion.fecha_sacramento}}</td>
			<td>{{object.primera_comunion.parroquia}}</td>
			<td>{{object.primera_comunion.iglesia}}</td>
		</tr>
		{%endif%}

		{% if object.confirmacion %}
		<tr>
			<td><a href="{% url 'confirmacion_update' pk=object.confirmacion.id%}">Confirmación</a></td>
			<td>{{object.confirmacion.fecha_sacramento}}</td>
			<td>{{object.confirmacion.parroquia}}</td>
			<td>{{object.confirmacion.iglesia}}</td>
		</tr>
		{%endif%}
		
		{% with matrimonios=object.matrimonios_hombre.all %}
		{% if  matrimonios %}
		{% for matrimonio in matrimonios %}
		<tr>
			<td><a href="{% url 'matrimonio_update' pk=matrimonio.id%}">Matrimonio</a></td>
			<td>{{matrimonio.fecha_sacramento}}</td>
			<td>{{matrimonio.parroquia}}</td>
			<td>{{matrimonio.iglesia}}</td>
		</tr>
		{% endfor %}
		{% endif %}
		{% endwith %}

		{% with matrimonios=object.matrimonios_mujer.all %}
		{% if  matrimonios %}
		{% for matrimonio in matrimonios %}
		<tr>
			<td><a href="{% url 'matrimonio_update' pk=matrimonio.id%}">Matrimonio</a></td>
			<td>{{matrimonio.fecha_sacramento}}</td>
			<td>{{matrimonio.parroquia}}</td>
			<td>{{matrimonio.iglesia}}</td>
		</tr>
		{% endfor %}
		{% endif %}
		{% endwith %}
		</tbody>
</table>


{% endblock%}