{%extends 'base.html'%}

{%load sacramentos_tags%}
{%load core_tags%}
{%load tags_html%}

{%block title%}{%block content_title%}
{%if perfil.id%}Editar Feligrés{%else%}Agregar Feligrés{%endif%}
{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li><a href="{% url 'usuario_list' %}">Feligreses</a></li>
<span class="divider">»</span>
{%if perfil.id%}<li class='active'>{{perfil}}</li>{%else%}<li class='active'>Nuevo</li>{%endif%}
{% endblock %}

{%block content%}

<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">

</div>



{%if perms.sacramentos.change_feligres or perms.sacramentos.add_feligres%}
{%if perfil.id%}
<div class="btn-toolbar pull-right">
	<div class="btn-group">
		<button data-toggle="dropdown" class=" btn btn-primary dropdown-toggle">
			<i class='icon-print'></i>  Reportes <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" >
			<li>
				<a href="{%url 'usuario_certificado' pk=perfil.id%}" target="_blank"><i class='icon-file-text-alt'></i> Certificado Honorabilidad</a>
			</li>
		</ul>
	</div>
</div>
{%endif%}
{%endif%}


<input id='id_hidden' type="hidden" value='{{perfil.id}}'>
<!--<div id='id_datos_personales' class='tab-pane active'>-->
<form name="form_usuario_create" id='id_form_usuario_create' method='POST' class='form-horizontal' action=".">
	{%csrf_token%}

	<div class="row">
		<div class="span8">

			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos Personales</legend>
                <div class="control-group">
                    {{form_perfil.dni|label_with_classes:'control-label'}}
                    <div class="controls">
                       {{form_perfil.dni}}
                    </div>
                    <div class="controls">
                        <div class='help-text'>
                            {{form_perfil.dni.help_text}}
                        </div>
                    </div>
                    <div class="controls">
                        <div class='errors'>
                            {{form_perfil.dni.errors}}
                        </div>
                    </div>
                </div>
				<div class="control-group">
					{{form_usuario.first_name|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_usuario.first_name}}
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_usuario.first_name.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_usuario.first_name.errors}}
						</div>
					</div>

				</div>
				<div class="control-group">
					<label class="control-label">{{form_usuario.last_name.label_tag}}</label>
					<div class="controls">
						{{form_usuario.last_name}}
					</div>
					<div class="controls">
						<div class='help-text'>
							{{form_usuario.last_name.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class='errors'>
							{{form_usuario.last_name.errors}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">

						<div class="control-group">
							{{form_perfil.sexo|label_with_classes:'control-label'}}
							<div class="controls">
								{% for radio in form_perfil.sexo %}
								{{ radio }}
								{% endfor %}
							</div>
							<div class="controls">
								<div class="help-text">
									{{form_perfil.sexo.help_text}}
								</div>
							</div>
							<div class="controls">
								<div class="errors">
									{{form_perfil.sexo.errors}}
								</div>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="control-group">
							{{form_perfil.estado_civil|label_with_classes:'control-label'}}
							<div class="controls">
								{{form_perfil.estado_civil}}
							</div>
							<div class="controls">
								<div class='help-text'>
									{{form_perfil.estado_civil.help_text}}
								</div>
							</div>
							<div class="controls">
								<div class='errors'>
									{{form_perfil.estado_civil.errors}}
								</div>
							</div>
						</div>
						<div class="control-group">
							{{form_perfil.profesion|label_with_classes:'control-label'}}
							<div class="controls">
								{{form_perfil.profesion}}
							</div>
							<div class="controls">
								<div class="help-text">
									{{form_perfil.profesion.help_text}}
								</div>
							</div>
							<div class="controls">
								<div class="errors">
									{{form_perfil.profesion.errors}}
								</div>
							</div>
						</div>
					</div>
				</div>

			</fieldset>

			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos de Nacimiento</legend>
				<div class="control-group">
					{{form_perfil.fecha_nacimiento|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_perfil.fecha_nacimiento}}
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.fecha_nacimiento.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.fecha_nacimiento.errors}}
						</div>
					</div>
				</div>
                <div class="control-group">
							{{form_perfil.nacionalidad|label_with_classes:'control-label'}}
							<div class="controls">
								{{form_perfil.nacionalidad}}
							</div>
							<div class="controls">
								<div class='help-text'>
									{{form_perfil.nacionalidad.help_text}}
								</div>
							</div>
							<div class="controls">
								<div class='errors'>
									{{form_perfil.nacionalidad.errors}}
								</div>
							</div>
				</div>
				<div class="control-group">
					{{form_perfil.lugar_nacimiento|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_perfil.lugar_nacimiento}}
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.lugar_nacimiento.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.lugar_nacimiento.errors}}
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Información sobre los padres</legend>
				<div class="control-group">
					{{form_perfil.padre|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_perfil.padre}}
						<a href="#id_buscar_hombres" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i></a>
						<a href="#id_modal_padre" class='btn btn-primary' data-toggle='modal'><i class='icon-plus'></i></a>
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.padre.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.padre.errors}}
						</div>
					</div>
				</div>
				<div class="control-group">
					{{form_perfil.madre|label_with_classes:'control-label'}}
					<div class="controls">
						{{form_perfil.madre}}
						<a href="#id_buscar_mujeres" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i></a>
						<a href="#id_modal_madre" class='btn btn-primary' data-toggle='modal'><i class='icon-plus'></i></a>
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.madre.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.madre.errors}}
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Datos de Contacto</legend>
				<div class="control-group">
					{{form_usuario.email|label_with_classes:'control-label'}}
					<div class='controls'>
						{{form_usuario.email}}
					</div>
					<div class='controls'>
						<div class="help-text">
							{{form_usuario.email.help_text}}
						</div>
					</div>
					<div class='controls'>
						<div class="errors">
							{{form_usuario.email.errors}}
						</div>
					</div>

				</div>

				<div class="control-group">
					{{form_perfil.celular|label_with_classes:'control-label'}}
					<div class='controls'>
						{{form_perfil.celular}}
					</div>
					<div class="controls">
						<div class="help-text">
							{{form_perfil.celular.help_text}}
						</div>
					</div>
					<div class="controls">
						<div class="errors">
							{{form_perfil.celular.errors}}
						</div>
					</div>
				</div>
			</fieldset>

			{%if perms.auth.change_group or perms.auth.add_group%}
			{%if perfil.id%}
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Grupos de Usuario</legend>
				<div class="control-group">
					{{form_usuario.groups|label_with_classes:'control-label'}}
					<div class='controls'>
						{{form_usuario.groups}}
					</div>
					<div class='controls'>
						<div class="help-text">
							{{form_usuario.groups.help_text}}
						</div>
					</div>
					<div class='controls'>
						<div class="errors">
							{{form_usuario.groups.errors}}
						</div>
					</div>

				</div>
			</fieldset>
			{%endif%}
			{%else%}
			<fieldset class="scheduler-border" style="display:none">
				<legend class="scheduler-border">Grupos de Usuario</legend>
				<div class="control-group">
					{{form_usuario.groups|label_with_classes:'control-label'}}
					<div class='controls'>
						{{form_usuario.groups}}
					</div>
					<div class='controls'>
						<div class="help-text">
							{{form_usuario.groups.help_text}}
						</div>
					</div>
					<div class='controls'>
						<div class="errors">
							{{form_usuario.groups.errors}}
						</div>
					</div>

				</div>
			</fieldset>

			{%endif%}

			<div class="form-actions">
				<button id='id_guardar' type="submit" class='btn btn-primary'> Guardar </button>
				<a href="{%url 'usuario_list'%}" class='btn btn-danger'>Cancelar</a>
			</div>
		</div>
	</div>

</form>


<!-- Inclusion de Modal de Busqueda-->
{%include 'includes/buscar_hombres_ajax.html'%}
{%include 'includes/buscar_mujeres_ajax.html'%}

<!-- Inclusion tags -->
{% hombre %}
{% mujer %}

{% endblock%}