{%extends 'base.html'%}

{%block content_title%}
Ciudades
{%endblock%}

{%block content%}

<div class="row">
	<div class="span10 offset1">
		<ul class="thumbnails">
			{%if perms.ciudades.change_provincia and perms.ciudades.add_provincia%}
			<li class="span4">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class='icon-trello icon-4x'></i>
						<h2>Provincias</h2>
					</div>
					<p>Ud. puede agregar o editar provincias del País</p>
					<p><a href="{%url 'provincia_list'%}" class='btn btn-primary'>Ir</a></p>
				</div>
			</li>
			{%endif%}
			{%if perms.ciudades.change_canton and perms.ciudades.add_canton%}
			<li class="span4">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class='icon-link icon-4x' ></i>
						<h2>Cantones</h2>
					</div>
					<p>Ud. puede agregar o editar cantones del País</p>
					<p><a href="{%url 'canton_list'%}" class='btn btn-primary'>Ir</a></p>
				</div>
			</li>
			{%endif%}
		</ul>
	</div>
</div>
<div class="row">
	<div class="span10 offset1">
		<ul class="thumbnails">
			{%if perms.ciudades.change_parroquia and perms.ciudades.add_parroquia%}	
			<li class="span4">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class='icon-home icon-4x'></i>
						<h2>Parroquias Civiles</h2>
					</div>
					<p>Ud. puede agregar o editar parroquias del País</p>
					<p><a href="{%url 'parroquiacivil_list'%}" class='btn btn-primary'>Ir</a></p>
				</div>
			</li>
			{%endif%}
			

		</ul>
	</div>
</div>

{%endblock%}