 <div id="id_modal_libro" class="modal hide fade">
	<form id='id_crear_libro' class='form-horizontal' action="." method="POST">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h3>Crear Libro</h3>
		</div>
		<div class="modal-body">
			{% include 'includes/form.html' with form=form_libro %}			
		</div>
		<div class="modal-footer">
			<button id='id_guardar' class="btn btn-primary" type="submit"> Guardar </button>
			<a href="." class="btn btn-danger" data-dismiss="modal">Cancelar</a>
		</div>
	</form>
</div>
