{% extends 'base.html'%}
{%load tags%}
{%block title%}
{%if object.id%}
Editar Asignación de un Secretario
{%else%}
Agregar Asignación de un Secretario 
{%endif%}
{%endblock%}

{%block content_title%}
{%if object.id%} 
Editar Asignación de un Secretario
{%else%}
Agregar Asignación de un Secretario 
{%endif%}
{%endblock%}


{% if perms.sacramentos.add_asignacionparroquia%}
{%block content%}

<form id='form_asignar_secretaria' action="." method='POST' class='form-horizontal'>
	{%csrf_token%}


	

	<div class="control-group">
		
		<div class="control-label">
			{{form.persona.label}}
		</div>
		<div class="controls">
			{{form.persona}}
			<a href="#id_buscar_feligreses" class='btn btn-primary' data-toggle='modal'>
				<i class='icon-search'></i>
			</a>
			{%if perms.sacramentos.add_secretaria%}
			<a href="#id_crear_secretaria" class='btn btn-primary' data-toggle='modal'>
				<i class='icon-plus'></i>
			</a>
			{%endif%}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{form.persona.help_text}}
			</div>
		</div>

		<div class="controls">

			<div class="errors">
			<h1>{{form.persona.errors}}</h1>
				{% if form.persona.errors %}
				<ul class="errorlist">
					{% for error in form.persona.errors %}
					<li>{{ error }}  Puede asignarle un correo mediante este <a href="#id_modal_email" data-toggle='modal'>formulario</a></li>
					{% endfor %}
				</ul>
				
				{% endif %}
			</div>
		</div>
		
	</div>

	<div class="control-group">
		
		<div class="control-label">
			{{form.parroquia.label}}
		</div>
		<div class="controls">
			{{form.parroquia}}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{form.parroquia.help_text}}
			</div>
		</div>
		<div class="controls">
			<div class='errors'>
				{{form.parroquia.errors}}
			</div>
		</div>
	</div>

	<div class="control-group">
		
		<div class="control-label">
			{{form_periodo.inicio.label}} *
		</div>
		<div class="controls">
			{{form_periodo.inicio}}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{form_periodo.inicio.help_text}}
			</div>
		</div>
		<div class="controls">
			<div class='errors'>
				{{form_periodo.inicio.errors}}
			</div>
		</div>
	</div>

	<div class="control-group">
		
		<div class="control-label">
			{{form_periodo.fin.label}}
		</div>
		<div class="controls">
			{{form_periodo.fin}}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{form_periodo.fin.help_text}}
			</div>
		</div>
		<div class="controls">
			<div class='errors'>
				{{form_periodo.fin.errors}}
			</div>
		</div>
	</div>

	<div class="control-group">
		
		<div class="control-label">
			{{form_periodo.estado.label}}
		</div>
		<div class="controls">
			{{form_periodo.estado}}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{form_periodo.estado.help_text}}
			</div>
		</div>
		<div class="controls">
			<div class='errors'>
				{{form_periodo.estado.errors}}
			</div>
		</div>
	</div>

	

	<div class="form-actions">
		<button type='submit' class='btn btn-primary'>Guardar</button> 
		<a href="{% url 'asignar_secretaria_list'%}" class='btn btn-danger'> Cancelar</a>
	</div>

</form>

{%include 'usuario/buscar_feligreses.html'%}


<!-- Modal para crear una secretaria-->
<div id="id_crear_secretaria" class="modal hide fade" data-backdrop='static'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Crear Secretario/a</h3>
	</div>
	<div class="modal-body">
		<form id='id_form_crear_secretaria' class='form-horizontal' method='POST'>
			{%secretaria%}

			<div class="control-group">
				<div class='controls'>
					<button type="submit" class='btn btn-primary'>Guardar</button>
				</div>
			</div>
		</form>

	</div>
	<div class="modal-footer">
		<a href="." class="cancelar-modal btn btn-primary" data-dismiss="modal">Cancelar</a>
	</div>
</div>

<!-- Modal para asignar el email de una secretaria -->
<div id="id_modal_email" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Ingreso de Email</h3>
	</div>
	<div class="modal-body">
		
		<form id='id_form_email' action="/api/email/add/" method="POST" class='form-horizontal'>
			{%csrf_token%}
			
			<input type="hidden" name='pk' value="{{persona.pk}}">

			<div class="control-group">
				<div class="control-label">
					{{ form_email.email.label }}
				</div>
				<div class="controls">
					{{ form_email.email }} 
				</div>
				<div class="controls">
					<div class="help-text">
						{{ form_email.email.help_text }}	
					</div>
				</div>
				<div class="controls">
					<div class="errors">
						{{ form_email.email.errors }} 
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button class='btn btn-primary' type="submit">Guardar</button>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a id='id_aceptar' href="." class="btn btn-primary" data-dismiss="modal">Aceptar</a>
	</div>
</div>


{%endblock%}

{%endif%}
