{%extends 'base.html'%}
{%block title%}Lista de Asignación de Secretarios{%endblock%}
{%block content_title%}
{%if parroquia.nombre%}
Secretarios de la parroquia {{parroquia.nombre}}
{%else%}
Lista de Asignación de Secretarios
{%endif%}
{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Secretarias</li>
{% endblock %}

{% block content%}
{% include 'includes/busqueda_persona_form.html' %}
{%if perms.sacramentos.add_asignarsecretaria%}
<a href="{%url 'asignar_secretaria_create'%}" class='btn btn-primary'>Nueva Asignación</a>
{%endif%}

<table id='id_table_secretaria' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Username</th>
			<th>Nombres</th>
			<th data-hide='phone, tablet'>Parroquia</th>
			<th data-hide='phone'>Estado</th>
			<th>Asignaciones</th>
		</tr>
	</thead>
	<tbody>
		{% for o in object_list%}
		<tr>
			<td>{{o.asignacion.persona.user.username}}</td>
			<td>{{o.asignacion.persona}}</td>
			<td>{{o.asignacion.parroquia}}</td>
			<td>{%if o.estado%}Activo{%else%}Desactivo{%endif%}</td>
			<td>
				<a href="{%url 'secretaria_update' pk=o.asignacion.persona.id%}"><i class="icon-eye-open"></i></a>
				&nbsp
				<a href="{%url 'asignar_secretaria_update' pk=o.id%}"><i class="icon-pencil"></i></a>
			</td>
			
		</tr>
		{%endfor%}
	</tbody>
</table>

{% include 'includes/paginacion.html' %}


{% endblock%}