{% extends 'base.html'%}
{% load sacramentos_tags%}

{%block title%}{%block content_title%}
{%if object.id%}Asignar un párroco - {{object}}
{%else%}Agregar Asignación - {{object}}{%endif%}
{%endblock%}{%endblock%}


{%block content%}

<form action="." method='POST' class='form-horizontal'>
	{%csrf_token%}

	{% for f in form%}
	<div class="control-group">

		<div class="control-label">
			{{f.label}}
		</div>
		<div class="controls">
			{{f}}
			{%if f.label == form.persona.label %}
			<a href="#id_buscar_sacerdotes" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i></a>
			<a href="#id_modal_sacerdote" class='btn btn-primary' data-toggle='modal'><i class='icon-plus'></i></a>
			{%endif%}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{f.help_text}}
			</div>
		</div>

		<div class="controls">
			<div class='errors'>
				{{f.errors}}
			</div>
		</div>
	</div>
	{%endfor%}

	
	{% for f in form_periodo%}
	<div class="control-group">

		<div class="control-label">
			{{f.label}}
		</div>
		<div class="controls">
			{{f}}
		</div>

		<div class="controls">
			<div class='help-text'>
				{{f.help_text}}
			</div>
		</div>
		<div class="controls">
			<div class='errors'>
				{{f.errors}}
			</div>
		</div>
	</div>
	{%endfor%}

	
	<div class="form-actions">
		<button type="submit" class='btn btn-primary'> Guardar </button>
		
		{%if object.id%}
		<a href="{%url 'asignar_parroco_list' pk=object.id%}" class='btn btn-danger'>Cancelar</a>

		{%endif%}
	</div>

</form>

{%include 'includes/buscar_sacerdotes_ajax.html'%}
{% sacerdote %}

{%endblock%}
