{%extends 'base.html'%}
{%block title%}{%block content_title%}
{%if parroquia.nombre%}Secretarios de la parroquia {{parroquia.nombre}}
{%else%}Lista de Asignación de Secretarios{%endif%}
{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li class='active'>Secretarias</li>
{% endblock %}

{% block content%}
{% include 'includes/busqueda_persona_form.html' %}
{%if perms.sacramentos.add_asignarsecretaria%}
<a href="{%url 'asignar_secretaria_create'%}" class='btn btn-primary'>Nueva Asignación</a>
{%endif%}

<table id='id_table_secretaria' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Username</th>
			<th>Nombres</th>
			<th data-hide='phone, tablet'>Parroquia</th>
			<th data-hide='phone'>Estado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for o in object_list%}
		<tr>
			<td>{{o.persona.user.username}}</td>
			<td>{{o.persona}}</td>
			<td>{{o.parroquia}}</td>
			<td>{%if o.persona.user.is_active%}Activo{%else%}Desactivo{%endif%}</td>
			<td>
				<a href="{%url 'secretaria_update' pk=o.persona.id%}" data-toggle="tooltip" data-placement="top" title="Editar secretaria"><i class="icon-pencil"></i></a>
				&nbsp
				<a href="{%url 'asignar_secretaria_update' pk=o.id%}" data-toggle="tooltip" title="Editar Asignación de una secretaria"><i class="icon-edit"></i></a>
			</td>
			
		</tr>
		{%endfor%}
	</tbody>
</table>

{% include 'includes/paginacion.html' %}


{% endblock%}