{%extends 'base.html'%}
{%block title%}{%block content_title%}Párrocos - {{parroquia.nombre}}{%endblock%}{%endblock%}

{% block content%}
<form id='id_form_buscar' class="form-search">
	<input type='text' class="input-xlarge search-query" name='q' value="{{q}}" placeholder='Sacerdote, Dni, Parroquia'/>
	<button class="btn btn-primary">Buscar</button>
	<!--<input type='submit' value='Buscar' class="btn btn-primary" />-->
</form>
<a href="{%url 'asignar_parroco_a_parroquia' pk=parroquia.id%}" class='btn btn-primary'>Nueva Asignación</a>

<table id='id_table_asignar_parroquia' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Sacerdote</th>
			<th>Parroquia</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for o in object_list%}
		<tr>
			<td>{{o.persona}}</td>
			<td>{{o.parroquia}}</td>
			<td><a href="{%url 'parroco_periodos_asignacion_list' pk=o.id%}" data-toggle="tooltip" data-placement="top" title="Visualizar periodos en los que estuvo asignado el párroco a esta parroquia"><i class="icon-eye-open"></i></a></td>
		</tr>
		{%endfor%}
	</tbody>
</table>

{% include 'includes/paginacion.html' %}

<a href="{%url 'parroquia_list'%}" class='btn btn-danger'>Cancelar</a>

{% endblock%}