{% extends 'base.html'%}
{%load tags_html%}

{%block title%}{%block content_title%}
{%if object.id%}Editar Parroquia{%else%}Agregar Parroquia{%endif%}
{%endblock%}{%endblock%}

{% block breadcrumbs %}
{{ block.super }}
<span class="divider">»</span>
<li><a href="{% url 'parroquia_list' %}">Parroquias Eclesiásticas</a></li>
<span class="divider">»</span>
{%if object.id%}<li class='active'>{{object}}</li>{%else%}<li class='active'>Nueva</li>{%endif%}
{% endblock %}

{%block content%}
{%if object.id%}
<div class="btn-toolbar pull-right">
	<div class="btn-group">
		<button data-toggle="dropdown" class=" btn btn-primary dropdown-toggle">
			<i class='icon-print'></i>  Reportes <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" >
			<li>
				<a href="{%url 'reporte_parroquias_sacerdotes' pk=object.id%}" target="_blank"><i class='icon-file-text-alt'></i> Asignaciones</a>


			</li>
		</ul>
	</div>
</div>
{%endif%}
<form action="." method='POST' class="form-horizontal">
	{%csrf_token%}
	<div class='row'>
		<div class='span10'>
			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos de la Parroquia</legend>
				<div class='row'>
					<div class="span8">
						<div class="control-group">
							<div class='control-label'>
								{{form_parroquia.nombre.label}} 
							</div>
							<div class="controls">
								{{form_parroquia.nombre}}
							</div>
							<div class="controls help-text">
								{{form_parroquia.nombre.help_text}}
							</div>
							<div class="controls errors">
								{{form_parroquia.nombre.errors}}
							</div>
						</div>



						<div class='control-group'>
							<div class='control-label'>
								{{form_direccion.domicilio.label}}  
							</div>

							<div class='controls'>
								{{form_direccion.domicilio}}
							</div>
							<div class="controls help-text">
								{{form_direccion.domicilio.help_text}}
							</div>
							<div class='controls'>
								{{form_direccion.domicilio.errors}}
							</div>
						</div>

						<div class='control-group'>
							<div class='control-label'>
								{{form_direccion.provincia.label}}  
							</div>

							<div class='controls'>
								{{form_direccion.provincia}}
							</div>
							<div class="controls help-text">
								{{form_direccion.provincia.help_text}}
							</div>
							<div class='controls'>
								{{form_direccion.provincia.errors}}
							</div>
						</div>
						<div class='control-group'>
							<div class='control-label'>
								{{form_direccion.canton.label}}  
							</div>

							<div class='controls'>
								{{form_direccion.canton}}
							</div>
							<div class="controls help-text">
								{{form_direccion.canton.help_text}}
							</div>
							<div class='controls'>
								{{form_direccion.canton.errors}}
							</div>
						</div>
						<div class='control-group'>
							<div class='control-label'>
								{{form_direccion.parroquia.label}}  
							</div>

							<div class='controls'>
								{{form_direccion.parroquia}}
							</div>
							<div class="controls help-text">
								{{form_direccion.parroquia.help_text}}
							</div>
							<div class='controls'>
								{{form_direccion.parroquia.errors}}
							</div>
						</div>
						<div class='control-group'>
							<div class='control-label'>
								{{form_direccion.telefono.label}}
							</div>

							<div class='controls'>
								{{form_direccion.telefono}}
							</div>
							<div class="controls help-text">
								{{form_direccion.telefono.help_text}}
							</div>
							<div class='controls'>
								{{form_direccion.telefono.errors}}
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class='btn btn-primary'> Guardar </button>
		<a href="{%url 'parroquia_list'%}" class='btn btn-danger'>Cancelar</a>
	</div>
</form>

{%endblock%}