{% extends 'base.html'%}

{%block title%}{%block content_title%}Periodos de Asignación{%endblock%}{%endblock%}

{%block content%}
<h3>
	{{asignacion.persona}} - {{asignacion.parroquia}}
</h3>
</br>

<table id='id_table_periodo' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Fecha de Inicio</th>
			<th>Fecha de Finalización</th>
			<th>Estado</th>
            <th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{%for o in object_list%}
		<tr>
			<td>{{o.inicio}}</td>
			<td>{%if o.fin%}{{o.fin}}{%else%}No se ha especificado aún{%endif%}</td>
			<td>{%if o.estado%}<i class="icon-check"></i>{%else%}<i class="icon-check-minus"></i>{%endif%} </td>
            <td><a href="{%url 'parroco_periodos_asignacion_update' pk=o.id%}"><i class='icon-pencil'></i></a></td>
		</tr>
		{%endfor%}
	</tbody>
</table>


<div class="form-actions">
	<a href="{%url 'nuevo_periodo_asignacion' pk=asignacion.id %}" class='btn btn-primary'>Nuevo Periodo</a>
	<a href="{%url 'asignar_parroco_list' pk=asignacion.parroquia.id %}" class='btn btn-danger'>Cancelar</a>
	
</div>



{%endblock%}