<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 1.5cm;
		margin-left: 2cm;
		margin-right: 2cm;
		height: 1cm;
	}
}
body {
	font-family: Helvetica, Arial, Sans;
	font-size: 14px;
}
#footer{
	text-align:center;
	font-size: 9px; 
	color: #666666;
}

</style> 
<body >
	<table>
		<tbody>
			<tr>
				<td>
					Num: <strong>{{bautismo.numero_acta}}<br/>
					{{bautismo.bautizado.user.first_name}}<br/>
					{{bautismo.bautizado.user.last_name}}</strong><br/>
				</td>
				<td>
					<p align="justify"> 

						{{ "En la Iglesia Parroquial de "}} 
						<strong>{{bautismo.iglesia}}</strong>, 
						{%for d in p%}
						<strong>{{d.diocesis|title}}</strong><br/>
						{%endfor%}
						a <strong>{{bautismo.fecha_sacramento|date:'d'}}</strong> dias del mes de <strong>{{bautismo.fecha_sacramento|date:'F'}}</strong>, del año del Señor del <strong>{{bautismo.fecha_sacramento|date:'Y'}}</strong>.<br/>
						Yo, <strong>{{bautismo.celebrante}}</strong>, Cura-Párroco de la misma,
						bauticé solemnemente a 
						un{% if bautismo.bautizado.sexo == 'f'%}a{%endif%} <strong>niñ{% if "m" in bautismo.bautizado.sexo%}o {%else%}a {%endif%}</strong>que nació el día  <strong>{{bautismo.bautizado.fecha_nacimiento|date:'d'}}</strong>
						del mes de <strong>{{bautismo.bautizado.fecha_nacimiento|date:'F'}}</strong> del año <strong>{{bautismo.bautizado.fecha_nacimiento|date:'Y'}}</strong> y a quién
						puse los nombres de <strong>{{ bautismo.bautizado}}</strong>. <br/>

						{% if "m" in bautismo.bautizado.sexo%}
						Es hijo de {%else%} Es hija de {% endif%}
						{%if bautismo.bautizado.padre%}
						<strong>{{ bautismo.bautizado.padre}}</strong>
						{%else%}
						<strong>{{"S/N"}}</strong> <br>
						{%endif%}
						<!--feligrés de <strong>{{bautismo.lugar_sacramento}}</strong>-->
						y de 
						{%if bautismo.bautizado.madre%}
						<strong>{{ bautismo.bautizado.madre}}</strong>
						{%else%}
						<strong> {{"S/N"}} </strong> <br>
						{%endif%}
						<!--de la parroquia de <strong>{{bautismo.lugar_sacramento}}</strong>, -->
						siendo sus abuelos paternos 
						{% if bautismo.abuelo_paterno%}
						<strong>{{bautismo.abuelo_paterno}}</strong>
						{%else%}
						<strong>{{"S/N"}}</strong>
						{% endif %}
						 y 
						{% if bautismo.abuela_paterna%}
						<strong>{{bautismo.abuela_paterna}}</strong>
						{%else%}
						<strong>{{"S/N"}}</strong>
						{% endif %}
						
						vecinos de 
						{% if bautismo.vecinos_paternos %}
						<strong>{{bautismo.vecinos_paternos}}</strong>
						{% else %}
						<strong>{{"S/N"}}</strong>
						{% endif %}

						y los maternos
						{% if bautismo.abuelo_materno%}
						<strong>{{bautismo.abuelo_materno}}</strong>
						{%else%}
						<strong>{{"S/N"}}</strong>
						{% endif %}
						 y 
						{% if bautismo.abuela_materna%}
						<strong>{{bautismo.abuela_materna}}</strong>
						{%else%}
						<strong>{{"S/N"}}</strong>
						{% endif %}

						vecinos de 
						{% if bautismo.vecinos_maternos %}
						<strong>{{bautismo.vecinos_maternos}}</strong>
						{% else %}
						<strong>{{"S/N"}}</strong>
						{% endif %}
						.
						<br/>
						{%if bautismo.padrino and bautismo.madrina%}
						Fueron sus Padrinos <strong>{{ bautismo.padrino}}</strong> y <strong>{{ bautismo.madrina}}</strong> a quienes advertí de su parentezco espiritual y obligaciones. Y para que conste lo firmo.<br/>
						{%endif%}	
						{%if bautismo.padrino and  not bautismo.madrina%}
						Fue su Padrino <strong>{{ bautismo.padrino}}</strong>, a quien advertí de su parentezco espiritual y obligaciones. Y para que conste lo firmo.<br/>
						{%endif%}	
						{%if not bautismo.padrino and  bautismo.madrina%}
						Fue su Madrina <strong>{{ bautismo.madrina}}</strong>, a quien advertí de su parentezco espiritual y obligaciones. Y para que conste lo firmo.<br/>
						{%endif%}
						<br/><br/><br/>

						<p align='center'>
							-----------------------------------------------------<br/><br/>
							<strong>{{"PARROCO"}}</strong>
							
						</p>
						
					</p>
				</td>
			</tr>

			
		</tbody>
	</table>
	<br/>
	<br/>
	<br/>

	<div id="footer">
		<hr style="margin-bottom: 1px;"/>
		<p>Sistema de Gestion Sacramental <strong>Ekklesia</strong> - Reporte generado por: <strong>{{asignacion.persona.user.get_full_name}}</strong> el <strong>{%now "SHORT_DATE_FORMAT"%} </strong></p>

	</div>

</body>
</html>