<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 1.5cm;
		margin-left: 2cm;
		margin-right: 2cm;
		height: 1cm;
	}
}
body {
	font-family: Helvetica, Arial, Sans;
	font-size: 12px;
}
#footer{
	text-align:center;
	font-size: 9px; 
	color: #666666;
}

</style> 
<body>
	<center>
		
		
		<h2> 
			{%for d in p%}
			{{d.diocesis|upper}}<br/>
			{%endfor%}
			Parroquia Eclesiastica {{bautismo.parroquia|upper}} <br/>
			{{bautismo.parroquia.direccion.provincia.nombre |upper}} {{"- Ecuador"|upper}} <br />
			
			<hr style="margin-bottom: 1px;"/>
			<small>{{"Direccion: "}}{{ bautismo.parroquia.direccion }} {{"Tel: "}}{{bautismo.parroquia.direccion.telefono}}</small><br/>
		</h2>
		
		<h1>{{"Partida Bautismal"|upper}}</h1></center>
		<h2> <p>El suscrito Párroco de <strong>{{bautismo.parroquia|title}}</strong> CERTIFICA:</h2>
		Que en el libro: <strong>{{ bautismo.libro.numero_libro}}</strong>, pagina: <strong>{{ bautismo.pagina}}</strong> y con el numero: <strong>{{ bautismo.numero_acta }}</strong> </br>
		se encuentra la Partida Bautismal de: <strong>{{ bautismo.bautizado}}</strong> <br/>
		{%if "m" in bautismo.bautizado.sexo%}
		
		Hijo de: 
		{%if bautismo.bautizado.padre%}
		<strong>{{ bautismo.bautizado.padre}}</strong> <br/>
		{%else%}
		<strong>{{"S/N"}} </strong><br />
		{%endif%}
		y de: 
		{%if bautismo.bautizado.madre%}
		<strong>{{ bautismo.bautizado.madre}}</strong> <br/>
		{%else%}
		<strong>{{"S/N"}} </strong> <br />
		{%endif%}
		Nacido el: <strong>{{bautismo.bautizado.fecha_nacimiento}}</strong><br/>
		y bautizado el: <strong>{{bautismo.fecha_sacramento}}</strong><br/>

		{%else%}
		Hija de: 
		{%if bautismo.bautizado.padre%}
		<strong>{{ bautismo.bautizado.padre}}</strong> <br/>
		{%else%}
		<strong>{{"S/N"}} </strong> <br />
		{%endif%}
		y de:
		{%if bautismo.bautizado.madre%}
		<strong>{{ bautismo.bautizado.madre}}</strong> <br/>
		{%else%}
		<strong>{{"S/N"}} </strong> <br />
		{%endif%}
		Nacida el: <strong>{{bautismo.bautizado.fecha_nacimiento}}</strong><br/>
		y bautizada el: <strong>{{bautismo.fecha_sacramento}}</strong><br/>
		{%endif%}
		Bautizante:  <strong>{{bautismo.celebrante}}</strong><br/>
		{%if bautismo.padrino and bautismo.madrina%}
		Padrinos: <strong>{{ bautismo.padrino}}</strong> y <strong>{{ bautismo.madrina}}</strong> <br/><br/>
		{%endif%}	
		{%if bautismo.padrino and  not bautismo.madrina%}
		Padrino: <strong>{{ bautismo.padrino}}</strong><br/><br/>
		{%endif%}	
		{%if not bautismo.padrino and  bautismo.madrina%}
		Madrina: <strong>{{ bautismo.madrina}}</strong><br/><br/>
		{%endif%}	

		Datos fidedignos tomados del archivo parroquial<br/><br/>






		<strong>{{bautismo.parroquia.direccion.canton.nombre|title}}, {%now "d"%} de {%now "F"%} del {%now "Y"%}</strong><br/><br/><br/><br/><br/>

		<table align='center'>
			<tbody>
				<tr>
					<td style="text-align: center;">


						---------------------------------------------------<br/>
						P. {{cura.persona.user.get_full_name}}<br/>
						<strong>{{"PARROCO"}}</strong> 

					</td>
					<td style="text-align: center;">


						---------------------------------------------------<br/>
						{{asignacion.persona.user.get_full_name}}<br/>
						<strong>
							{%if 'f' in asignacion.persona.sexo %}
							{{"SECRETARIA"}}
							{%else%}
							{{"SECRETARIO"}}
							{%endif%}
						</strong>


					</td>
				</tr>


			</tbody>
		</table>

		<br/>

		{%if notas|length%}
		Observaciones:<br/>

		{%for n in notas%}
		<strong>{{n.fecha|date:"SHORT_DATE_FORMAT"}}{{": "}}{{n.descripcion}}</strong><br/>
		{%endfor%}

		{%endif%}

		<div id="footer">
			<hr style="margin-bottom: 1px;"/>
			<p>Sistema de Gestion Sacramental <strong>Ekklesia</strong> - Reporte generado por: <strong>{{asignacion.persona.user.get_full_name}} </strong></p>

		</div>

	</body>

</body>
</html>