{% extends 'base.html'%}
{% block title%} 403.- Permiso Denegado {% endblock %}
{%block content_title%}
403.- Permiso Denegado
{%endblock%}

{%block content%}
<p>
La página solicitada no se encuentra disponible. Es posible que Ud no tenga permiso para acceder a este lugar o que no esté asignado a alguna parroquia. Disculpe las molestias.
</p>
<p>Para localizar la información que necesita puede:</p>
<ul>
	<li>Volver a la página anterior e intentarlo de nuevo</li>
	<li>Ir a la página de inicio</li>
	<li>Verificar si Ud está asignado a una parroquia</li>
</u>
{%endblock%}