{% extends 'base.html' %}

{% block title%}
Accesskey: teclas de acceso directo
{%endblock%}

{% block content_title%}
Accesskey: teclas de acceso directo
{%endblock%}


{%block content%}
<p>
	Se denomina accesskey a aquellas combinaciones de teclas que permiten acceder a diferentes lugares del sitio Web utilizando únicamente el teclado. El accesskey se compone de una tecla específica, dependiente del navegador, y de un número, siendo los números utilizados en este sitio los siguientes:
</p>

<p>Para hacer uso de los accesskey utilizando el navegador Internet Explorer deberá:</p>
<ul>
	<li>Pulsar sin soltar la tecla Ctrl</li>
	<li>Pulsar el número adecuado para la opción seleccionada</li>
	<li>Soltar la tecla Alt y el número</li>
	
</ul>

Crtl + F1 = Inicio
{%endblock%}