{% extends 'base.html' %}

{% block title%}
Accesskey: teclas de acceso directo
{%endblock%}

{% block content_title%}
Accesskey: teclas de acceso directo
{%endblock%}


{%block content%}
<p>
	Se denomina accesskey a aquellas combinaciones de teclas que permiten acceder a diferentes lugares del sitio Web utilizando únicamente el teclado. El accesskey se compone de una tecla específica, dependiente del navegador, y de una tecla de función, número o letra.
</p>

<p>Para hacer uso de los accesskey mediante el navegador deberá:</p>
<ul>
	<li>Pulsar sin soltar la tecla Ctrl</li>
	<li>Pulsar la tecla de función, letra o número adecuado para la opción seleccionada</li>
	<li>Soltar la tecla Ctrl y </li>
	
</ul>

Crtl + F1 = Inicio

F6 y F12 no funcionan en firefox 
F7 y f12 no funciona en opera
F12 no funciona en chrome
Ctrl + i no funciona en firefox
ctrl + b no funciona en opera
ctrl + m no funciona en opera
ctrl + l no funciona en opera


<table>
	<thead>
		<tr>
			<td>Atajo</td>
			<td>Descripción</td>
		</tr>
	</thead>
	<tbody></tbody>
</table>


{%endblock%}