{% extends 'base.html' %}

{% block title%}
Accesskey: teclas de acceso directo
{%endblock%}

{% block content_title%}
Accesskey: teclas de acceso directo
{%endblock%}


{%block content%}
<p>
	Esta es una lista de los accesos directos más comunes de Ekklesia, los cuales permitirán al usuario navegar a través de la aplicación de manera más rápida. 
</p>

<p>Para hacer uso de los accesos directos mediante el navegador deberá:</p>
<ul>
	<li>Pulsar sin soltar la tecla Ctrl</li>
	<li>Pulsar la tecla de función, letra o número adecuado para la opción seleccionada</li>
	<li>Soltar todas las teclas una vez que visualice la página solicitada.  </li>
	
</ul>

</br>


<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th>Atajo</th>
			<th>Descripción</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ctrl+F1</td>
			<td>Visualiza la página de inicio de la aplicación</td>
		</tr>
		<tr>
			<td>Ctrl+F2</td>
			<td>Visualiza la lista de grupos</td>
		</tr>
		<tr>
			<td>Ctrl+F3</td>
			<td>Visualiza los logs del sistema</td>
		</tr>
		<tr>
			<td>Ctrl+F6</td>
			<td>Visualiza la lista de Administradores</td>
		</tr>
		<tr>
			<td>Ctrl+F7</td>
			<td>Visualiza la lista de Feligreses</td>
		</tr>
		<tr>
			<td>Ctrl+F8</td>
			<td>Visualiza la lista de Sacerdotes</td>
		</tr>
		<tr>
			<td>Ctrl+F9</td>
			<td>Visualiza la lista de Secretarias</td>
		</tr>
		<tr>
			<td>Ctrl+F10</td>
			<td>Visualiza la lista de Provincias</td>
		</tr>
		<tr>
			<td>Ctrl+F11</td>
			<td>Visualiza la lista de Cantones</td>
		</tr>
		<tr>
			<td>Ctrl+F12</td>
			<td>Visualiza la lista de Parroquias</td>
		</tr>
		<tr>
			<td>Ctrl+alt+p</td>
			<td>Visualiza la lista de Parroquias Eclesiásticas</td>
		</tr>
		<tr>
			<td>Shift+alt+l</td>
			<td>Visualiza la lista de Libros</td>
		</tr>
		<tr>
			<td>Ctrl+b</td>
			<td>Visualiza la lista de bautizados</td>
		</tr>
		<tr>
			<td>Ctrl+alt+e</td>
			<td>Visualiza la lista de feligreses que realizaron la primera comunión</td>
		</tr>
		<tr>
			<td>Ctrl+c</td>
			<td>Visualiza la lista de confirmados</td>
		</tr>
		<tr>
			<td>Ctrl+m</td>
			<td>Visualiza la lista de matrimonios</td>
		</tr>
		<tr>
			<td>Ctrl+alt+i</td>
			<td>Visualiza la lista de intenciones</td>
		</tr>
	</tbody>
</table>

{%endblock%}