{%extends 'base.html'%}
{% block title%}{% block content_title%}
Cambio de Contraseña
{%endblock%}{%endblock%}

{% block content %}

<form action="." method='POST' class='form-horizontal'>
	{% csrf_token %}
	<div class="control-group">
		{% for f in form  %}
		<label class="control-label">{{f.label}} *</label>
		<div class="controls">{{f}}</div>
		<div class="controls help-text">{{f.help_text}}</div>
		<div class="controls errors">{{f.errors}}</div></br>
		{% endfor %}
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Guardar</button> 
		<a href="{%url 'home'%}" class='btn btn-danger'>Cancelar</a>
	</div>
</form>


{% endblock%}
