{% extends 'base_site.html' %}
{% load tags_html %}
{% block title %}{% block content_title %}Login{% endblock %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span3 center">
            <div class="panel panel-default" style="text-align: center">
                <div class="panel-heading">Login</div>
                <div class="panel-body">

                    <div style="text-align: center">
					<span class="icon-stack icon-4x">
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class="icon-user"></i>
					</span>
                    </div>

                            <form action="./?next={{ redirect_to }}" method="POST" class="form-vertical">

                                {% csrf_token %}
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-envelope"></i></span>
                                            <input id="id_username" maxlength="25" name="username" required=""
                                                   placeholder="Nombre de usuario" type="text">
                                        </div>
                                    </div>
                                    <div class="controls">{{ form.username.help_text }}</div>
                                    <div class="controls errors">{{ form.username.errors }}</div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-key"></i></span>
                                            <input id="id_password" maxlength="25" name="password" required=""
                                                   placeholder="Contraseña" type="password">

                                        </div>
                                    </div>
                                    <div class="controls">{{ form.password.help_text }}</div>
                                    <div class="controls errors">{{ form.password.errors }}</div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-large btn-block">Iniciar Sesión
                                </button><br/>
{#                                <a href="{% url 'index' %}" class='btn btn-danger btn-large btn-block'>Cancelar</a>#}
                                <a href="{% url 'send_email' %}">¿Has olvidado la contraseña?</a>

                            </form>



                </div>
            </div>
        </div>
    </div>





{% endblock %}