{%extends 'base.html'%}
{%block title%}Recuperación de contraseña{%endblock%}
{%block content_title%}
Recuperación de contraseña
{%endblock%}



{% block content%}

<p>
	Si has olvidado tu contraseña, introduce aquí tu dirección de correo electrónico y pulsa en "Solicitar contraseña". Recibirás un mensaje en el que te explicaremos cómo recuperarla.
</p>
</br>
</br>

<form action="." method='POST' class='form-horizontal'>
	{% csrf_token%}
	{%for f in form%}
	<div class="control-group">
		<div class="control-label">
			{{f.label}} *
		</div>
		<div class="controls">
			{{f}}
		</div>
		<div class="controls">
			<div class='errors'>
				{{f.errors}}
			</div>
		</div>
		<div class="controls">
			<div class='help-text'>
				{{f.help_text}}
			</div>
		</div>
	</div>
	{%endfor%}
	<div class="form-actions">
		<button type="submit" class='btn btn-primary'>Solicitar Contraseña</button> 
		<a href="{%url 'home'%}" class='btn btn-danger'>Cancelar</a>
	</div>
</form>
{%endblock%}