{%extends 'base.html'%}
{%block title%}{%block content_title%}Parámetros{%endblock%}{%endblock%}

{%block content%}
<div class="row">
	<div class="span10 offset1">
		<ul class="thumbnails">
			{%if perms.sacramentos.change_parametrizadiocesis or perms.sacramentos.add_parametrizadiocesis%}
			<li class="span4">
				<div style='text-align: center'>
					<span class="icon-stack icon-4x" >
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class='icon-home'></i>
					</span>
					
					<h3>Diócesis</h3>
					<div class='caption'>
						<p>Ud. puede configurar los parámetros de la Diócesis</p>
						<p><a href="{%url 'parametriza_create'%}" class='btn btn-primary'>Ir</a></p>
					</div>
					
				</div>
			</li>
			{%endif%}
			{%if perms.sacramentos.change_parametrizaparroquia or perms.sacramentos.add_parametrizaparroquia%}
			<li class="span4">
				
				<div style='text-align: center'>
					<span class="icon-stack icon-4x" >
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class='icon-home' ></i>
					</span>
					
					<h3>Parroquia</h3>
					<div class="caption">
						<p>Ud. puede configurar el numero de acta y de la paǵina de los sacramentos que se realizarán en cada parroquia</p>
						<p><a href="{%url 'parametriza_parroquia_create'%}" class='btn btn-primary'>Ir</a></p>
					</div>
					
					
				</div>
				
			</li>
			{%endif%}
		</ul>
	</div>
</div>
{%endblock%}