{%extends 'base.html'%}
{%block title%}{%block content_title%}Personas{%endblock%}{%endblock%}

{%block content%}
<div class="row">
	<div class="span10 offset1">
		<ul class="thumbnails">
			{%if perms.sacramentos.add_feligres or perms.sacramentos.change_feligres%}
			<li class="span4">
				<div style='text-align: center'>
					<span class="icon-stack icon-4x" >
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class="icon-group"></i>
					</span>
					<h3>Feligres</h3>
					<div class="caption">
						<p>Ud. puede agregar y editar la información de un feligrés
						</p>
						<p><a href="{%url 'usuario_list'%}" class='btn btn-primary'>Ir</a></p>
					</div>
				</div>

			</li>
			{%endif%}
			{%if perms.sacramentos.change_administrador or perms.sacramentos.add_administrador%}
			<li class="span4">

				<div style='text-align: center'>
					<span class="icon-stack icon-4x" >
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class="icon-user"></i>
					</span>
					<h3>Administrador</h3>

					<div class='caption'>
						<p>Ud. puede agregar y editar la información de un administrador</p>
						
						<p><a href="{%url 'administrador_list'%}" class='btn btn-primary'>Ir</a></p>
						
					</div>

				</div>
			</li>
			{%endif%}
		</ul>
	</div>
</div>

<div class="row">
	<div class="span10 offset1">
		<ul class="thumbnails">
			{%if perms.sacramentos.change_sacerdote or perms.sacramentos.add_sacerdote%}		
			<li class="span4">
				
				<div style='text-align: center'>
					<span class="icon-stack icon-4x" >
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class="icon-user"></i>
					</span>
					<h3>Sacerdote</h3>

					<div class='caption'>
						<p>Ud. puede agregar y editar la información de un sacerdote</p>
						
						<p><a href="{%url 'sacerdote_list'%}" class='btn btn-primary'>Ir</a></p>
						
					</div>

				</div>
			</li>
			{%endif%}
			{%if perms.sacramentos.change_asignarsecretaria or perms.sacramentos.add_asignarsecretaria%}
			<li class="span4">
				
				<div style='text-align: center'>
					<span class="icon-stack icon-4x" >
						<i class="icon-circle icon-stack-base icon-muted "></i>
						<i class='icon-group'></i>
					</span>
					
					<h3>Secretarios</h3>
					
					<div class='caption'>
						<p>Ud. puede agregar y editar la información de los secretarios de la parroquia</p>
						
						<p><a href="{%url 'asignar_secretaria_list'%}" class='btn btn-primary'>Ir</a></p>
						
					</div>
					
				</div>

			</li>
			{%endif%}

		</ul>
	</div>
</div>

{%endblock%}
